__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg-link
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
compile_commands.json
data/ # Default_data already bundled. This is data that only exists on one's own computer.

# environments. I use conda, but I'll cover the common venv names too
.venv/
venv/
env/
