# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
.eggs/
build/
dist/
*.egg-link

# Test and linter caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editor / IDE
.vscode/
.idea/

# Build tooling
compile_commands.json

# Local data
data/ # Default_data already bundled. This is data that only exists on one's own computer.

# Environments
.venv/
venv/
env/
